.card {
    width: 250px;
    height: 200px;
    background-color:white;
    border-radius: 10px;
    border-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    text-align: center;
  }
  
  .card h2 {
    margin-top: 0;
    color: #333333;
  }
  
  .card p {
    color: #666666;
  }
  .img {
    width: 100%;
    height: auto;
    display: block;
  }
  .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  }
  @media (max-width: 640px) {
    .sm\:grid-cols-1 {
      grid-template-columns: 1fr;
    }
  }
  .card {
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  .appear {
    opacity: 1;
  }
  